
body{
    width: auto;
    height: auto;
    
   
}


.w-80{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0px 10px;
    

    
    
   
}



/* Start Header Coding */
header{
    width: 100%;
    height: 55px;
    background: blue;
    float: left; 

}

header .menu{
    width: 80%;
    height: 55px;
    margin: auto;
    
    
}

header .menu .brand-name{
    width: 50%;
    float: left;
        }

header .menu .brand-name a{
    text-decoration: none;
}

header .menu .brand-name h2{
     font-size: 25px;
     color: white;
}

header .menu nav{
     width: 50%;
     float: left;

        }

header .menu nav ul{
    list-style: none;
}

header .menu nav ul li{
    display: inline-block;
    margin-right: 15px;
    padding: auto;

}

header .menu nav ul li:hover a{
    color:tomato;
}

header .menu nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
/* End Header Coding */






/* Start Section coding */

section{
    width: 100%;
    float: left;
    
    
    
}

section .w-80 img{
    width: 100%;
    height:auto;
    padding-top: 0%;
}


section .w-80 .welcome-text{
    font-size: 25px;
    background: tomato;
    width: 43%;
    padding-left: 25px;
    padding: 5px;
}

section p{
    font-size: 20px;
    text-align: justify-all;
}

section ul{
    padding-left: 0;
    list-style: none;

}

section ul li{
    font-size: 17px;
    line-height: 35px;
}


section .w-80 .about-box img{
    float: right;
    width: 450px;
    height:300px ;    
}

section .w-80 .about-box p{
    color: blue;
}





/* Start Section GAllery coding*/
section .w-80 .doc{
        width:100% ;
        height: auto;
}

section .w-80 .doc img{
    margin-bottom: 100px;
}

.w-80 h1{
    font-size: 25px;
    padding: 20px;
}
/* End Section GAllery coding*/


/* End Section coding */





/* Start Footer coding */
footer{
    width: 100%;
    color: white;
    padding: 25px;
    float: left;
    background: black;
}

footer .footer-box{
    width: 25%;
    float: left;

}
footer .footer-box a{
        display: block;
        color: white;
        font-size: 18px; 
        line-height: 40px;
        text-decoration: none;
        text-transform: capitalize;

}

footer .footer-box a:hover{
    color: red;


}

footer h2{
    font-size: 30px;
}





/* End Footer coding */



